logs
target
*.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/*
activator*
.DS_Store
.tmp
.git
node_modules
.settings
*.log
*.iml
*.iml
client/build
client/dist
bower_components/
coverage/
client/app/config/config.js
pg_latest.dump
conf/generated.keystore
conf/samlKeystore.jks